.App {
  text-align: center;
}


/* Login */
.login {
  padding: 10px 20px 20px 20px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  cursor: default;
}

.login-select {
  margin: 20px;
}

select {
  font-size: 16px;
}

/* Nav bar */
.navbar {
  background-color: blueviolet;
  min-height: 48px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 1fr 3fr 3fr;
  column-gap: 15px;
  align-items: center;
  justify-items: center;
  color: whitesmoke;
}

.navitem {
  color: whitesmoke;
}

.navitem:hover {
  transform: translateY(-2px);
}

.nav-active {
  color: #00ff00;
  border-bottom: 1px solid #00ff00;
  transition: border-bottom .5s ease-in-out;
}

.nav-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-self: end;
}

.nav-name {
  justify-self: start;
  cursor: default;
}

/* main part */
.main {
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding: 0 10px 0 10px;
}

a {
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid blueviolet;  
  cursor: pointer;
  background: #fff;
  background-color: rgba(138, 43, 226, 0.25);
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: #009900;
  background-color: rgba(0, 192, 0, 0.25);
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

/* Home - poll list */
.poll-list-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  align-items: stretch;
  justify-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 700;
}

.poll-list {
  padding: 10px 20px 10px 20px;
  border: 1px solid #cccccc; 
  cursor: pointer;
}

.poll-list-active {
  padding: 10px 20px 10px 20px;
  border: 2px solid #009900;
  cursor: default;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

/* Poll */
.poll {
  padding: 10px 20px 10px 20px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  cursor: default;
}

.poll-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999;
}

.poll-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.poll-body {
  padding: 10px 0 0 0;
}

.poll-options {
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  column-gap: 15px;
  align-items: stretch;
  justify-items: stretch;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
}

.poll-option {
  padding: 10px 20px 10px 20px;
  border: 2px solid #000099;
  border-radius: 5px;
}

.poll-option.selected {
  background-color: rgba(0, 192, 0, 0.3);
  border-color: #009900;
}

.poll-or {
  align-self: center;
}

.poll-result {
  font-size: 14px;
  padding: 0 20px 0 20px;
}

/* New poll */
.new-poll {
  padding: 10px 20px 20px 20px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  cursor: default;
}

.new-poll-options {
  padding-bottom: 10px;
}

input {
  font-size: 16px;
  margin: 10px;
  padding: 2px 5px 2px 5px;
}

/* General */
.pointer {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}
